.object-list {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;
    cursor: pointer;
    border: 1px solid black;
    font-size: 2rem;
    transition: all ease-in-out 0.4s;

    &:hover {
      transition: all ease-in-out 0.2s;
      transform: scale(1.05);
      border-radius: 50px;
      background-color: beige;
    }
  }
}
